
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}


#countdown {
    font-family: 'Arial', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: #155724;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #DA22FF,#452c63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}


#countdown:after {
    content: "Happy Independence Day!";
    display: none;
    font-size: 3rem;
    color: #dc3545;
}

#countdown.animate {
    transform: scale(1.2);
    animation: pulse 1s ease infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


body.bg-success {
    background-color: #e9ecef !important;
}


#countdown.finish {
    font-size: 4rem;
    color: #007bff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
